.md-typeset h1,
.md-typeset h2,
.md-typeset h3,
.md-typeset h4,
.md-typeset h5,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  padding: 0px;
  margin: 0px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: solid 1px rgb(233, 224, 224);
  font-weight: normal;
}
p {
  /* font-size: 88%; */
  margin: 0;
  padding: 0;
  color: #000;
}
.md-typeset ol li,
.md-typeset ul li {
  margin-bottom: 0;
  font-size: 90%;
}
.md-typeset ol li blockquote,
.md-typeset ol li p,
.md-typeset ul li blockquote,
.md-typeset ul li p {
  margin: 5px;
}

.md-copyright{font-size: 0;}